<%= render "shared/message-header"%>

<h3>mini_talk_app</h3>
<%= form_with model: @message do |f| %>
  <%= f.text_field :content %>
  <%#= f.hidden_field @room.id %>
  <%= f.submit '送信' %>
<% end %>
<div id='messages'>
  <% @messages.reverse_each do |message| %>
    <p><%= message.content %></p>
  <% end %>
</div>


<%= render "shared/second-footer"%>