<%= render "shared/message-header"%>
<div class="container">
  <%= form_with model: @message do |f| %>
    <%= f.text_field :content %>
    <%# <input name="room_id" value=<%= @room.room_id %> 
    <%= f.submit '送信' %>
  <% end %>

  <div class="messages">
    <%= render "shared/chat-message"%>
  </div>
</div>

<%= render "shared/second-footer"%>