<%= render "shared/second-header"%>

<div class="registration-top-wrapper">
  <div class="container">
    <h1 class="registration-header-heading">新規会員登録</h1>
  </div>
</div>

<div class="registration-middle-wrapper">
  <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>

    <div class="container">
      <div class="registration-middle-contents">
        <%= devise_error_messages! %>
        <%# プロフィール画像 %>
        <div class="img-upload">
          <div class="weight-bold-text">
            プロフィール写真
          </div>
          <div class="click-upload">
            <p>クリックしてファイルをアップロード</p>
            <%= f.file_field :image, id:"profile-image" %>
          </div>
        </div>
        <%# プロフィール画像 %>

        <div class="registration-middle-content">
          <div class="registration-middle-name">
            <h2>お名前</h2>
          </div>
          <div class="registration-middle-name_form">
            <%= f.text_area :name, class:"registration_form", id:"name", placeholder:"name" %>
          </div>
        </div>

        <div class="registration-middle-content">
          <div class="registration-middle-mail">
            <h2>メールアドレス</h2>
          </div>
            <div class="registration-middle-mail_form">
              <%= f.email_field :email, class:"registration_form", id:"email", placeholder:"email", autofocus: true %>
            </div>
        </div>

        <div class="registration-middle-content">
          <div class="registration-middle-mail">
            <h2>自己紹介</h2>
          </div>
            <div class="registration-middle-mail_form">
              <%= f.text_area :self_introduction, class:"self-introduction_form", id:"self_introduction", placeholder:"はじめまして。リードクライミングの相手を探しています。" ,rows:"7" ,maxlength:"1000"  ,autofocus: true %>
            </div>
        </div>

        <div class="registration-middle-content">
          <div class="registration-middle-password">
            <h2>パスワード</h2>
          </div>
        <%if @sns_id.present? %>  
          <div class="registration-middle-password_form">
            <%= hidden_field_tag :sns_auth, true %>
          </div>
        <% else %>
          <div class="registration-middle-password_form">
            <% @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em><br>
            <%= f.password_field :password, class:"registration_form", id:"password", placeholder:"password" %>
          </div>
        </div>
        <div class="registration-middle-content">
          <div class="registration-middle-password">
            <h2>パスワード ※確認用</h2>
          </div>
          <div class="registration-middle-password_form">
            <%= f.password_field :password_confirmation, class:"registration_form", id:"password-confirmation", placeholder:"同じパスワードを入力して下さい" %>
          </div>
        </div>
        <% end %>

        <div class="registration-middle-content">
          <div class="registration-middle-area">
            <h2>よく登るエリア</h2>
          </div>
          <div class="registration-middle-area_form">
            <%= f.collection_select(:area_id, Area.all, :id, :name, {}, {class:"UserEdit_form", id:""}) %>
          </div>
        </div>

        <div class="registration-middle-content">
          <div class="registration-middle-weight">
            <h2>ウェイト</h2>
          </div>
          <div class="registration-middle-weight_form">
            <%= f.collection_select(:weight_id, Weight.all, :id, :name, {}, {class:"UserEdit_form", id:""}) %>
          </div>
        </div>

        <div class="registration-middle-content">
          <div class="registration-middle-sex">
            <h2>性別</h2>
          </div>
          <div class="registration-middle-sex_form">
            <%= f.collection_radio_buttons :sex_id, User.sex_ids, :first, :first  %>
          </div>
        </div>

        <div class="registration-middle-content">
          <div class="registration-middle-climb_type">
            <h2>クライムタイプ</h2>
          </div>
          <div class="registration-middle-climb_form">
            <%# <input class="climb_form" type="checkbox" name="course" value="html"><p>トップロープ</p>
            <input class="climb_form" type="checkbox" name="course" value="html"><p>リードクライミング</p>
            <input class="climb_form"  type="checkbox" name="course" value="ruby"><p>ボルダリング</p> %>
            <%#= f.collection_check_boxes :climbing_types, User.climbing_types, :id, :name_with_initial %>
            <%#= f.collection_check_boxes :climbing_type, User.climbing_types, :first, :first, include_hidden: false  %>
            <%= f.collection_check_boxes(:climbing_types, ClimbingType.climbing_types, :first, :first, include_hidden: false) do |c| %>
              <%= c.label { c.check_box + c.text } %>
            <% end %>
          </div>
        </div>

        
        <div class="registration-middle-content">
          <%= f.submit "会員登録" ,class:"registration-middle-submit" %>
        </div>
        
      </div>
    </div>
  <% end %>
</div>


<%= render "shared/second-footer"%>