<%= render "shared/header" %>

  <div class="top-wrapper">
    <div class="container">
    <%# ここには検索機能を実装する %>
      <div class="search-area">
        <h1>hogehogehogehoge<br>hogehogehogehogehogehogehgoe</h1>
        <br>
        <P>hogehogehogehogehogehogehgoe</P>
      </div>
    <%# ここには検索機能を実装する %>
    </div>
  </div>

<div class="middle-wrapper">
  <div class="container">
    <div class="heading">
      <h2>Your Climbing Partners!</h2>
    </div>
    <% @users.each do |user| %>
      <%= link_to user_path(user.id), method: :get do %>
        <div class="middles">
          <div class="middle">
              <div class="middle-icon">
                <%= image_tag user.image, class:"middle-logo" %>
              </div>
              <%= user.name %>
              <%# フォロー済みのユーザは、「フォロー済み」と表示するように実装する %>
              <%# if user_signed_in? && current_user.id != user.id %>
                <%# if @follow.follower_id %>
                  <%#= "フォロー済み" %>
                <%# end %>
              <%# end %>
              <%# フォロー済みのユーザは、「フォロー済み」と表示するように実装する %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<%# ログイン済みな否かでボタン表示を変更する   %>
  <div class="bottom-wrapper">
    <div class="container">
      <div class="registration">
        <%= link_to '新規登録はこちら', "/users/sign_up", class: "btn signup" %>
        <p>or</p>
        <br>
        <a href="#" class="btn facebook"><span class="fa fa-facebook">Facebookで登録</span></a>
        <a href="#" class="btn twitter"><span class="fa fa-twitter">Twitterで登録</span></a>
      </div>
    </div>  
  </div>
  <%# ログイン済みな否かでボタン表示を変更する   %>

<div class="contents-wrapper">
    <div class="container">
      <div class="contents-heading">
        <h2>トップロープ・リードクライミングができるジム</h2>
      </div>
      <div class="contents">
        <div class="content">
          <div class="content-icon">
           <%= link_to image_tag("sample_shops", class:"content-logo"), "#" %>
           <p>hoge</p>
          </div>
          <p class="content-texts">hogehogehogehogehoge</p>
        </div>
        <div class="content">
          <div class="content-icon">
           <%= link_to image_tag("sample_shops", class:"content-logo"), "#" %>
           <p>hoge</p>
          </div>
          <p class="content-texts">hogehogehogehogehoge</p>
        </div>
        <div class="content">
          <div class="content-icon">
           <%= link_to image_tag("sample_shops", class:"content-logo"), "#" %>
           <p>hoge</p>
          </div>
          <p class="content-texts">hogehogehogehogehoge</p>
        </div>
        
      </div>
    </div>
  </div>

  
  
<%= render "shared/footer" %>