<%= render "shared/second-header"%>

<div class="UserShow-top-wrapper">
  <div class="container">
    <div class="UserShow-header-heading">
      <%= "#{@user.name}さん" %>
    </div>
  </div>
</div>

<div class="container">
  <% if @user.image == nil %>
    <div class="UserShow-middle-contents">
      <%= image_tag "profile_sample.png", class: "user-img" %>
    </div>
  <% else %>
    <div class="UserShow-middle-contents">
      <%= image_tag @user.image, class:"user-box-img" %>
    </div>
  <% end %>
</div>

<div class="UserShow-middle-wrapper">
  <div class="container">
    <div class="UserShow-middle-content">
      <div class="UserShow-profile-sex">性別<br>
        <%= "男性" %>
      </div>  
      <div class="UserShow-profile-weight">ウェイト<br>
        <%= "40kg-60kg" %>
      </div>
    </div>  
  </div>
</div>

<div class="UserShow-middle-wrapper">
  <div class="container">
    <div class="UserShow-middle-content">
      <div class="UserShow-profile-area">よく登るエリア<br>
        <%= "渋谷" %>
      </div>
      <div class="UserShow-profile-ClimbType">クライムタイプ<br>
        <%= "リードクライミング" %>
      </div>
    </div>
  </div>
</div>

<div class="UserShow-middle-wrapper">
  <div class="container">
    <div class="UserShow-profile-introduction">自己紹介<br>
      <%= @user.self_introduction %>
    </div>
  </div>
</div>

 
<%# フォロー一覧に画面遷移(viewは未だ作成していない) %>
<%#=link_to "フォロー", follows_user_path(@user.id) %>
<%#=link_to "フォロワー", followers_user_path(@user.id) %>
<%# フォロー一覧に画面遷移(viewは未だ作成していない) %>

<div class="follow-btn-contents">
  <div class="container">
    <% if current_user != @user %>
      <% if @user.followed_by?(current_user) %>
        <div class="follow-btn-content">
          <p><%=link_to "フォロー済み", user_relationships_path(@user.id), class:"follow-btn", method: :delete %></p>
        </div>

        <div class="message-btn-content">
          <p><%=link_to "チャットルーム", user_messages_path(@user.id), class:"message-btn" %></p>
        </div>
        <div class="message-btn-content">
          <p><%=link_to "メッセージを送る", "/", class:"message-btn" %></p>
        </div>
      <% else %>
        <div class="follow-btn-content">
          <p><%=link_to "フォローする", user_relationships_path(@user.id), method: :post %></p>
        </div>
      <% end %>
    <% else %>
      <div class="toEdit-btn-content">
        <%=link_to "プロフィール編集", edit_user_registration_path(@user.id), class:"toEdit-btn"  %>
      </div>
    <% end %>
  </div>
</div>

<%= render "shared/second-footer"%>