<%= render "shared/second-header"%>

<div class="UserShow-top-wrapper">
  <div class="container">
    <div class="UserShow-header-heading">
      <%= "#{current_user.name}さん" %>
    </div>
  </div>
</div>

<div class="container">
  <% if @user.image == nil %>
    <div class="UserShow-middle-contents">
      <%= image_tag "profile_sample.png", class: "user-img" %>
    </div>
  <% else %>
    <div class="UserShow-middle-contents">
      <%= image_tag @user.image, class:"user-box-img" %>
    </div>
  <% end %>
</div>

<div class="UserShow-middle-wrapper">
  <div class="container">
    <div class="UserShow-middle-content">
      <div class="UserShow-profile-sex">性別<br>
        <%= "男性" %>
      </div>  
      <div class="UserShow-profile-weight">ウェイト<br>
        <%= "40kg-60kg" %>
      </div>
    </div>  
  </div>
</div>

<div class="UserShow-middle-wrapper">
  <div class="container">
    <div class="UserShow-middle-content">
      <div class="UserShow-profile-area">よく登るエリア<br>
        <%= "渋谷" %>
      </div>
      <div class="UserShow-profile-ClimbType">クライムタイプ<br>
        <%= "リードクライミング" %>
      </div>
    </div>
  </div>
</div>

<div class="UserShow-middle-wrapper">
  <div class="container">
    <div class="UserShow-profile-introduction">自己紹介<br>
      <%= @user.self_introduction %>
    </div>
  </div>
</div>

<div class="follow-btn-contents">
  <div class="container">
    <div class="follow-btn-content">
      <%=link_to "フォロー済み", class:"follow-btn"  %>
    </div><br>
    <div class="follow-btn-content">
      <%=link_to "フォローする", class:"follow-btn"   %>
    </div>
  </div>
</div>

<div class="toEdit-btn-contents">
  <div class="container">
    <div class="toEdit-btn-content">
      <%=link_to "プロフィール編集", edit_user_registration_path(@user.id), class:"toEdit-btn"  %>
    </div>
  </div>
</div>

<%= render "shared/second-footer"%>