<div class="header-top">
  <div class="container">
    <div class="header-contents">
      <div class="header-left">
        <%= link_to image_tag("Handdrawn Circle Logo.png", class:"header-logo"), "/" %>
      </div>
      <div class="header-right">          
        <% if user_signed_in? %>
          <div class="header-right_button">
            <%= link_to current_user.name, user_path(current_user.id), class: "button-left" %>
          </div>
          <div class="header-right_button">
            <%= link_to 'ログアウト', "/users/sign_out", method: :delete, class: "button-right" %>
          </div>
        <% else %>
          <div class="header-right_button">
            <%= link_to 'ログイン', "/users/sign_in", class: "button-left" %>
          </div>
          <div class="header-right_button">
            <%= link_to '新規登録', "/users/sign_up", class: "button-right" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>