<%= render "shared/second-header"%>

<div class="rooms_top">
  <div class="container">
    <h1>チャットルーム</h1>
    <%# @followss.each do |follow| %>
    <% if @user.id == @follow.follower.id  %>
      <%= link_to image_tag(@user.image, class:"footer-logo") %>
    <% end %>
    <%# end %>
    <%=form_with model: @room, local: true do |f|%>
      <input name="room[user_ids][]"  value=<%= current_user.id %> >
      <input name="room[user_ids][]"  value=<%= @user.id %> >
      <%= f.submit name="チャットルームを作成する", class: 'submit_room'%>
    <% end %>
  </div>
</div>



<%= render "shared/second-footer"%>